<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.TitleMapper">

	<select id="selectTitleByAll" resultType="Title">
		select title_code, title_name from title
	</select>
	
	<insert id="insertTitle" parameterType="Title">
		insert into title(title_code, title_name) values(#{titleCode}, #{titleName})
	</insert>
	
	<delete id="deleteTitle" parameterType="Title">
		delete from title where title_code = #{titleCode}
	</delete>
	
	<update id="updateTitle" parameterType="Title">
		update title
		set title_name = #{titleName}
		where title_code = #{titleCode}
	</update>
	
	<select id="selectTitleByCode" parameterType="Title" resultType="Title">
		select title_code, title_name 
		from title
		where title_code = #{titleCode}
	</select>
</mapper>



